@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Bad+Script);
@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);

html {
  background-color: #ABEBC6;
}

#Heading {
  font-family: 'Homemade Apple', cursive;
  color:  #424949;
  font-size: 100px;
  margin-left: 5%;
  padding-bottom: 5px;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 15px;
  padding-top: 10px;
}

h2 {
  font-size: 20px;
}

#image1 {
  background-image: url("../images/board.jpg");
  padding-top: 20px;
  padding-bottom: 50px;
  margin-left: 20px;
  margin-right: 20px;
}

#Sub-heading {
  font-family: 'Amatic SC', cursive;
  color: white;
  padding-top: 5px;
  margin-left: 50px;
  padding-right: 30px;
  margin-right: 400px;
}

#Story {
  font-family: 'Amatic SC', cursive;
  color: white;
  font-size: 25px;
  padding-top: 5px;
  padding-right: 30px;
  margin-left: 90px;
  margin-right: 400px;
  padding-bottom: 350px;
}

#Footer {
  font-family: 'Amatic SC', cursive;
  color: #424949;
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
}

hr {
  border-top: bold;
}

a {
  text-decoration: none;
  color: black;
}
