@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Amatic+SC);
@import url(https://fonts.googleapis.com/css?family=Dancing+Script);
@import url(https://fonts.googleapis.com/css?family=Bad+Script);
@import url(https://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
@import url(https://fonts.googleapis.com/css?family=Homemade+Apple);

html {
  background-color: #ABEBC6;
}

#Heading {
  font-family: 'Homemade Apple', cursive;
  color: #1E8449;
  font-size: 100px;
  margin-left: 5%;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 15px;
  padding-top: 10px;
}

#Sub-heading {
  font-family: 'Homemade Apple', cursive;
  margin-left: 10%;
  color: #1E8449;
}

h2 {
  font-size: 20px;
}

h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  font-weight: bold;
  align-content: center;
  color: #4D5656;
}

#image1 {
  background-image: url("../images/paddock1.jpg");
  padding-bottom: 375px;
  margin-left: 5%;
  margin-right: 5%;
}

#Footer {
  font-family: 'Amatic SC', cursive;
  color: #424949;
  font-size: 25px;
  margin-left: 10%;
  margin-right: 10%;
  background-color: white;
  padding-top: 25px;
  padding-bottom: 25px;
  border-top-style: solid; border-color: #424949;
}

hr {
  border-top: bold;
  border-color: #4D5656;
}

a {
  text-decoration: none;
  color: #4D5656;
}
